<form class="form-signin" ng-submit="baseCtrl.submit()">
    <div class="notify error" role="alert" ng-if="baseCtrl.error" ng-bind="baseCtrl.error"></div>

    <h2 class="form-signin-heading">Login</h2>
    <p><label >Email address</label></p>
    <input ng-model="baseCtrl.username" type="username" placeholder="Email address" required autofocus>
    <p><label>Password</label></p>
    <input ng-model="baseCtrl.password" type="password" placeholder="Password" required>

    <button class="btn-login" type="submit">Login</button>
</form>
