<div ng-controller="JobController as jobCtrl" class="container-swimlane">

    <div>
        <div class="popover-wrapper">
            <a href="#">
                <h2 class="popover-title">Create Job</h2>
            </a>
            <div class="push popover-content">
                <form ng-submit="jobCtrl.create(jobCtrl.title, jobCtrl.description)">
                    <p>Title:</p>
                    <input name="title" type="text" placeholder="title" ng-model="jobCtrl.title" required>
                    <p>Description:</p>
                    <textarea name="description" rows="8" cols="40" ng-model="jobCtrl.description" required></textarea>
                    <p><button>Submit</button></p>
                </form>
            </div>
        </div>
    </div>

    <div class="column" ng-repeat="status in jobCtrl.statusList" data-status="{{ status }}" droppable>
        <h4 class="{{ status | spaceless }}" ng-bind="status"></h4>
        <div ng-repeat="job in jobCtrl.list | filter:{ status: status } track by job.id">
            <div class="job" job-id="{{job.id}}" draggable>
                <p class="delete-icon" ng-click="jobCtrl.delete(job.id)">&times;</p>
                <p class="title" ng-bind="job.title"></p>
                <p class="description" ng-bind="job.description"></p>
            </div>
        </div>
    </div>

</div>
