<div ng-controller="JobController as jobCtrl" class="container-swimlane">

    <div>
        <div class="popover-wrapper">
            <a href="#">
                <h2 class="popover-title">Create Job</h2>
            </a>
            <div class="push popover-content">
                <form ng-submit="jobCtrl.create()">
                    <p>Title:</p>
                    <input name="title" type="text" class="form-control" placeholder="title" ng-model="jobCtrl.title" required>
                    <p>Description:</p>
                    <textarea name="description" rows="8" cols="40" ng-model="jobCtrl.description" required></textarea>
                    <p><button>Submit</button></p>
                </form>
            </div>
        </div>
    </div>

    <div class="column" data-status="planned" droppable>
        <h4>Planned</h4>
        <div ng-repeat="job in jobCtrl.list | filter:{ status: 'planned' } track by job.id">
            <div class="job job-{{job.id}}" job-id="{{job.id}}" draggable>
                <span class="delete-icon" ng-click="jobCtrl.delete(job.id)">&times;</span>
                <p class="title"><span ng-bind="job.title"></span></p>
                <p class="description" ng-bind="job.description"></p>
            </div>
        </div>
    </div>

    <div class="column" data-status="working on" droppable>
        <h4>Working on</h4>
        <div ng-repeat="job in jobCtrl.list | filter:{ status: 'working on' } track by job.id">
            <div class="job job-{{job.id}}" job-id="{{job.id}}" draggable>
                <span class="delete-icon" ng-click="jobCtrl.delete(job.id)">&times;</span>
                <p class="title"><span ng-bind="job.title"></span></p>
                <p class="description" ng-bind="job.description"></p>
            </div>
        </div>
    </div>

    <div class="column" data-status="resolved" droppable>
        <h4 class="resolved">Resolved</h4>
        <div ng-repeat="job in jobCtrl.list | filter:{ status: 'resolved' } track by job.id">
            <div class="job job-{{job.id}}" job-id="{{job.id}}" draggable>
                <span class="delete-icon" ng-click="jobCtrl.delete(job.id)">&times;</span>
                <p class="title"><span ng-bind="job.title"></span></p>
                <p class="description" ng-bind="job.description"></p>
            </div>
        </div>
    </div>

    <div class="column" data-status="qa tested" droppable>
        <h4 class="qa-tested">Qa Tested</h4>
        <div ng-repeat="job in jobCtrl.list | filter:{ status: 'qa tested' } track by job.id">
            <div class="job job-{{job.id}}" job-id="{{job.id}}" draggable>
                <span class="delete-icon" ng-click="jobCtrl.delete(job.id)">&times;</span>
                <p class="title"><span ng-bind="job.title"></span></p>
                <p class="description" ng-bind="job.description"></p>
            </div>
        </div>
    </div>

    <div class="column" data-status="completed" droppable>
        <h4 class="completed">Completed</h4>
        <div ng-repeat="job in jobCtrl.list | filter:{ status: 'completed' } track by job.id">
            <div class="job job-{{job.id}}" job-id="{{job.id}}" draggable>
                <span class="delete-icon" ng-click="jobCtrl.delete(job.id)">&times;</span>
                <p class="title"><span ng-bind="job.title"></span></p>
                <p class="description" ng-bind="job.description"></p>
            </div>
        </div>
    </div>

</div>
