<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Swimlane</title>

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body ng-controller="LoginController as loginCtrl" ng-cloak>

    <div class="container-fluid login" ng-if="loginCtrl.login">
        <div ng-include="loginCtrl.templates.loginTemplate"></div>
    </div>

    <div class="container-fluid" ng-if="loginCtrl.swimlane">
        <div ng-include="loginCtrl.templates.navTemplate"></div>

        <div ng-include="loginCtrl.templates.swimlaneTemplate" class="container-swimlane"></div>
    </div>

    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/ngStorage.min.js"></script>

    <!-- module -->
    <script src="app.js"></script>

    <!-- controllers -->
    <script src="controllers/login-controller.js"></script>
    <script src="controllers/job-controller.js"></script>

    <!-- services -->
    <script src="services/auth-service.js"></script>
    <script src="services/job-service.js"></script>

    <!-- filters -->
    <script src="filters/job-filter.js"></script>
    <script src="filters/spaceless-filter.js"></script>
    <script src="filters/ticket-status-filter.js"></script>

    <!-- directives -->
    <script src="directives/draggable.js"></script>
    <script src="directives/droppable.js"></script>
</body>

</html>
