<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Swimlane</title>

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body ng-controller="BaseController as baseCtrl" ng-cloak>

    <div class="container-fluid login" ng-if="baseCtrl.login">
        <div ng-include="baseCtrl.templates.loginTemplate"></div>
    </div>

    <div class="container-fluid" ng-if="baseCtrl.swimlane">
        <div ng-include="baseCtrl.templates.navTemplate"></div>

        <div ng-include="baseCtrl.templates.swimlaneTemplate" class="container-swimlane"></div>
    </div>

    <script src="assets/js/angular.min.js" charset="utf-8"></script>
    <script src="assets/js/ngStorage.min.js"></script>

    <!-- module -->
    <script src="app.js" charset="utf-8"></script>

    <!-- controllers -->
    <script src="controllers/base-controller.js" charset="utf-8"></script>
    <script src="controllers/job-controller.js" charset="utf-8"></script>

    <!-- services -->
    <script src="services/auth-service.js" charset="utf-8"></script>
    <script src="services/job-service.js" charset="utf-8"></script>

    <!-- filters -->
    <script src="filters/job-filter.js" charset="utf-8"></script>

    <!-- directives -->
    <script src="directives/draggable.js" charset="utf-8"></script>
    <script src="directives/droppable.js" charset="utf-8"></script>
</body>

</html>
