<!DOCTYPE html>
<html ng-app="calculator">

<head>
    <title>AngularJS Service - Factory Tutorial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" charset="utf-8">

    <style>
        body { padding: 15px; }
    </style>
</head>

<body>

    <div class="" ng-controller="CalculatorController as calcCtrl">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="calcCtrl.expression" />
            </div>
        </form>

        <div>
            <h4>Answer: {{calcCtrl.answer}}</h4>
        </div>

        <button class="btn" type="button" ng-click="">C</button>
        <button class="btn" type="button" ng-click="calcCtrl.appendOperator('+')">+</button>
        <button class="btn" type="button" ng-click="calcCtrl.appendOperator('-')">-</button>
        <button class="btn" type="button" ng-click="calcCtrl.appendOperator('*')">*</button>
        <button class="btn" type="button" ng-click="calcCtrl.appendOperator('/')">/</button>
        <button class="btn" type="button" ng-click="calcCtrl.calculate()">=</button>

        <button class="btn" type="button" ng-click="calcCtrl.doSquare()">X<sup>2</sup></button>
        <button class="btn" type="button" ng-click="calcCtrl.doCube()">X<sup>3</sup></button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="app.js"></script>
</body>

</html>
